.testimonials-grids{
	margin:0em auto 0;
	width:70%;
	text-align:center;
}
.testimonial-grid img{
	margin: 0 auto;
    padding: .5em;
    border: 1px dotted #999;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
}
.testimonial-grid h4{
	font-size:1.5em;
	color:#212121;
	margin:1em 0;
}
.testimonial-grid h4 span{
	display: block;
    color: #49C0DB;
    font-size: .6em;
    margin: .5em 0 0;
}
.testimonial-grid p{
	color:#999;
	line-height:1.8em;
}
/*-- //testimonials --*/
/*-- wmuslider --*/
.wmuSlider {
	position: relative;
	overflow: hidden;
}
.wmuSlider .wmuSliderWrapper article img {
	/*--max-width: 100%;
	width: auto;
	height: auto;
	display:block;--*/
}
/* Default Skin */
.wmuSliderPagination {
	z-index: 2;
    position: absolute;
    left: 47%;
    bottom: 2%;
}
ul.wmuSliderPagination {
	padding:0;
}
.wmuSliderPagination li {
	float: left;
	margin: 0 8px 0 0;
	list-style-type: none;
}
.wmuSliderPagination a {
	display: block;
    text-indent: -9999px;
    width: 10px;
    height: 10px;
    background: #CFCFCF;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
	-ms-border-radius: 50px;
}
.wmuSliderPagination a.wmuActive {
	background: #49C0DB;
    box-shadow: 0px 0px 10px #49C0DB;
	-webkit-box-shadow: 0px 0px 10px #49C0DB;
	-moz-box-shadow: 0px 0px 10px #49C0DB;
	-o-box-shadow: 0px 0px 10px #49C0DB;
	-ms-box-shadow: 0px 0px 10px #49C0DB;
}
/* Default Skin */
.wmuGallery .wmuGalleryImage {
	margin-bottom: 10px;
}
.banner-wrap{
	padding:0 0 4em;
}
/*-- //wmuslider --*/
